.row
  .large-4.columns
    = simple_form_for @post do |f|
      = f.input :title, label: 'New Title'
      = f.input :date, label: 'Date'
      = f.input :body, label: 'Body', size: "80x100"
    
      = f.button :submit, label: 'Save'